version: '3.4'

services:
  catalogdb:
    container_name: catalogdb
    restart: always
    ports: 
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  basketdb:
    container_name: basketdb
    restart: always
    ports: 
      - "6379:6379"

  discountdb: 
    container_name: discountdb
    restart: always
    environment:
    - POSTGRES_PASSWORD=admin1234
    - POSTGRES_USER=admin
    - POSTGRES_DB=DiscountDb
    ports:
      - "5432:5432"
    volumes:
      - postgresql_data:/var/lib/postgresql/data

  orderdb:
    container_name: orderdb
    restart: always
    environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=SwN12345678
    ports:
        - "1433:1433"

  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"

  pgadmin:
    container_name: pgadmin
    depends_on:
      - discountdb
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@aspnetrun.com
      PGADMIN_DEFAULT_PASSWORD: admin1234
    restart: always
    volumes:
      - pgadmin_data:/root/.pgadmin

  portainer:
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "portainer_data:/data"

  catalog.api:
    container_name: catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDbSetting:ConnectionString=mongodb://catalogdb:27017
      - MongoDbSetting:DatabaseName=CatalogDb
      - MongoDbSetting:CollectionName=Products
    depends_on: 
      - catalogdb
    ports:
      - "8000:80"

  basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - CacheSettings:ConnectionString=basketdb:6379
      - GrpcSettings:DiscountUrl=http://discount.grpc
      - EventBusSettings:HostAddress=amqp://guest:guest@rabbitmq:5672
    depends_on: 
      - basketdb
      - rabbitmq
    ports:
      - "8001:80"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  discount.api:
    container_name: discount.api
    depends_on: 
      - discountdb
    ports:
      - "8002:80"
    environment:
      - DatabaseSettings:ConnectionString=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;

  discount.grpc:
    container_name: discount.grpc
    environment:
       - ASPNETCORE_ENVIRONMENT=Development
       - DatabaseSettings:ConnectionString=Server=discountdb;Port=5432;Database=DiscountDb;User Id=admin;Password=admin1234;
    depends_on: 
      - discountdb
    ports:
      - "8003:80"

  ordering.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings:OrderingConnectionString=Server=orderdb,1433;Database=orderdb;User Id=sa;Password=SwN12345678;
      - EventBusSettings:HostAddress=amqp://guest:guest@rabbitmq:5672
    depends_on: 
      - orderdb
      - rabbitmq
    ports:
      - "8004:80"
  shopping.aggregator:
    container_name: shopping.aggregator
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ApiSettings:CatalogUrl=http://catalog.api
      - ApiSettings:BasketUrl=http://basket.api
      - ApiSettings:OrderingUrl=http://ordering.api
    depends_on:
        - catalog.api
        - basket.api
        - ordering.api
    ports:
      - "8005:80"